.advantages__wrapper {
  display: flex;
  justify-content: center;
}

.advantages__list {
  @include list-reset;

  max-width: 1170px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-top: 112px;
  padding-left: 17px;
}

.advantages__item {
  max-width: 48.7%;
  height: 299px;

  margin-bottom: 30px;

  box-sizing: border-box;

  border: 1px solid $grey-border;
  border-left: 3px solid $blue;

  position: relative;

  transition: 300ms all ease;

  background-color: $white;

  &:hover {
    background-color: $blue;
  }
}

.advantages__icon {
  position: absolute;
  top: 39px;
  left: 42px;

  fill: $blue;
}

.advantages__title {
  @include roboto-condensed(24px, 34px);

  color: $blue;

  margin-top: 93px;
  margin-bottom: 10px;
  margin-left: 41px;
}

.advantages__text {
  @include ptmono(16px, 22px);

  color: $text-main;

  margin-left: 41px;
}

.advantages__item:hover .advantages__icon {
  fill: $white;
}

.advantages__item:hover .advantages__title {
  color: $white;
}

.advantages__item:hover .advantages__text {
  color: $white;
}

@media (max-width: $tablet-max) {
  .advantages__list {
    padding-top: 54px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .advantages__item {
    max-width: 47.9%;
    height: auto;

    &--big {
      min-height: 306px;
    }

    &--small {
      min-height: 232px;
    }
  }

  .advantages__icon {
    top: 23px;
    left: 23px;
  }

  .advantages__title {
    margin-top: 65px;
    margin-bottom: -5px;
    margin-left: 24px;
  }

  .advantages__text {
    margin-left: 25px;
    padding-right: 10px;
  }
}

@media (max-width: $mobile-max) {
  .advantages__list {
    flex-direction: column;

    padding-top: 37px;
    padding-right: 6px;
    padding-left: 4px;
  }

  .advantages__item {
    max-width: auto;
    width: 100%;

    margin-bottom: 20px;

    &--big {
      min-height: 310px;
    }

    &--medium {
      min-height: 244px;
    }
  }

  .advantages__title {
    font-size: 20px;
    line-height: 28px;

    margin-top: 68px;
    padding-right: 20px;
  }
}
