.feedback {
  background-color: $blue;
  background-image: url("../img/feedback-bg-desktop.png");
  background-repeat: no-repeat;
  background-position: 175px -60px;
}

.feedback__wrapper {
  display: flex;

  background-image: url("../img/paper-airplane.png");
  background-repeat: no-repeat;
  background-position: 13% 161px;
  background-size: 35.3% 42.9%;

  @media (min-resolution: $retina) {
    background-image: url("../img/paper-airplane@2x.png");
  }
}

.feedback__form-wrapper {
  width: 40%;

  margin-right: 8.4%;
  margin-left: auto;

  padding-top: 61px;
  padding-bottom: 112px;
}

.feedback__title {
  @include roboto-condensed(36px, 51px);

  color: $white;

  margin-bottom: 0;
}

.feedback__text {
  @include ptmono(16px, 22px);

  color: $white;

  margin-top: 10px;
  margin-bottom: 51px;
}

.feedback__form {
  display: flex;
  flex-direction: column;

  max-width: 570px;
}

.feedback__inputs-wrapper {
  display: flex;
  justify-content: space-between;
}

.feedback__inputs-wrapper label {
  width: 47.3%;
  max-width: 270px;
}

.feedback__form input {
  @include ptmono(16px, 22px);

  color: $white;

  width: 100%;
  height: 50px;

  box-sizing: border-box;

  margin-bottom: 40px;
  padding-left: 17px;

  background-color: rgba($white, 0.1);

  border: none;

  &::placeholder {
    opacity: 1;
  }

  &:hover,
  &:focus {
    background-color: rgba($white, 0.2);
  }
}

.feedback__form textarea {
  @include ptmono(16px, 22px);

  color: $white;

  height: 154px;

  margin-bottom: 43px;

  padding-top: 10px;
  padding-right: 17px;
  padding-bottom: 10px;
  padding-left: 17px;

  box-sizing: border-box;

  background-color: rgba($white, 0.1);

  border: none;

  resize: none;

  &::placeholder {
    opacity: 1;
  }

  &:hover,
  &:focus {
    background-color: rgba($white, 0.2);
  }
}

.feedback__send-wrapper {
  display: flex;
  align-items: center;
}

.feedback__send-button {
  font-size: 14px;
  line-height: 16px;

  width: 47.3%;
  max-width: 270px;
  height: 45px;

  border: 1px solid $white;

  transition: 300ms all ease;

  &:hover,
  &:focus {
    background-color: $white;
    color: $blue;
  }

  &:active {
    opacity: 0.5;
  }
}

.feedback__personal-data {
  @include ptmono(14px, 16px);

  color: $white;

  opacity: 0.8;

  display: flex;
  width: 40%;

  margin-left: auto;

  position: relative;

  cursor: pointer;

  &::before {
    content: "";
    display: block;

    width: 16px;
    height: 16px;

    box-sizing: border-box;
    border: 1px solid $white;

    position: absolute;
    top: 2px;
    left: -33px;
  }

  &::after {
    content: "";
    display: none;

    width: 8px;
    height: 5px;

    position: absolute;
    top: 7px;
    left: -29px;

    background-image: url("../img/tick.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover {
    opacity: 1;
  }
}

.feedback__send-wrapper input:checked + .feedback__personal-data::after {
  display: block;
}

.feedback__send-wrapper input:focus + .feedback__personal-data {
  opacity: 1;
}

@media (max-width: $tablet-max) {
  .feedback {
    background-image: none;
  }

  .feedback__wrapper {
    background-image: none;
  }

  .feedback__form-wrapper {
    width: 591px;
    max-width: initial;

    margin-right: auto;

    padding-top: 53px;
    padding-bottom: 106px;
  }

  .feedback__title {
    font-size: 32px;
    line-height: 45px;

    margin-bottom: 15px;
  }

  .feedback__text {
    margin-bottom: 54px;
  }

  .feedback__form {
    max-width: initial;
  }

  .feedback__form textarea {
    height: 160px;
    margin-bottom: 45px;
  }

  .feedback__inputs-wrapper label {
    width: 280px;
    max-width: initial;
  }

  .feedback__inputs-wrapper input {
    height: 52px;
    margin-bottom: 42px;
  }

  .feedback__send-button {
    width: 280px;
    max-width: initial;
  }
}

@media (max-width: $mobile-max) {
  .feedback__form-wrapper {
    width: auto;
    max-width: 430px;

    padding-top: 6px;
    padding-bottom: 45px;
  }

  .feedback__title {
    font-size: 28px;
    line-height: 39px;

    margin-bottom: 15px;
    margin-left: 5px;
  }

  .feedback__text {
    margin-bottom: 24px;
    margin-left: 5px;
  }

  .feedback__form {
    margin-left: 5px;
  }

  .feedback__inputs-wrapper {
    flex-direction: column;
  }

  .feedback__inputs-wrapper label {
    width: 100%;
  }

  .feedback__inputs-wrapper input {
    margin-bottom: 31px;
  }

  .feedback__form-wrapper textarea {
    height: 104px;
    margin-bottom: 29px;
  }

  .feedback__send-wrapper {
    flex-direction: column;
    align-items: flex-start;

    margin-right: auto;
    margin-left: auto;
  }

  .feedback__send-button {
    width: 290px;
    margin-bottom: 28px;
  }

  .feedback__personal-data {
    width: 200px;
    margin-left: 30px;
  }
}
