.intro {
  background-repeat: no-repeat;
  background-position: calc(50% + 435px) 33px;
  background-size: 713px 655px;
}

.no-js .intro,
.no-webp .intro {
  background-image: url("../img/intro-desktop.png");

  @media (min-resolution: $retina) {
    background-image: url("../img/intro-desktop@2x.png");
  }
}

.webp .intro {
  background-image: url("../img/intro-desktop.webp");

  @media (min-resolution: $retina) {
    background-image: url("../img/intro-desktop@2x.webp");
  }
}

.intro__wrapper {
  min-height: 793px;
  flex-grow: 1;

  position: relative;
}

.intro__text-wrapper h2 {
  @include roboto-condensed(80px, 93.75px, 700);

  color: $white;
  text-transform: uppercase;
  letter-spacing: 5.6px;

  padding-top: 230px;

  margin: 0;
  margin-bottom: 27px;
  margin-left: 10px;
}

.intro__text-wrapper p {
  @include ptmono(22px, 34.5px);

  color: white;
  text-transform: lowercase;

  max-width: 683px;

  margin-bottom: 43px;
  margin-left: 108px;

  position: relative;

  &::before {
    display: block;
    content: "";

    width: 66px;
    height: 2px;

    background-color: $white;

    position: absolute;
    top: 17px;
    left: -94px;
  }
}

.intro__link {
  width: 407px;
  height: 55px;

  margin-left: 108px;

  background-color: $blue;

  transition: 300ms all ease;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.intro__scroll {
  @include ptmono(14px, 15.68px);

  color: $white;
  opacity: 0.5;

  display: block;
  max-width: 100px;

  margin-top: 128px;
  margin-left: -28px;

  transform: rotate(-90deg);

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: $tablet-max) {
  .intro {
    background-size: 330px 466px;
    background-position: right -72px;
  }

  .no-js .intro,
  .no-webp .intro {
    background-image: url("../img/intro-tablet.png");

    @media (min-resolution: $retina) {
      background-image: url("../img/intro-tablet@2x.png");
    }
  }

  .webp .intro {
    background-image: url("../img/intro-tablet.webp");

    @media (min-resolution: $retina) {
      background-image: url("../img/intro-tablet@2x.webp");
    }
  }

  .intro__wrapper {
    min-height: 614px;
  }

  .intro__text-wrapper h2 {
    max-width: 470px;

    font-size: 60px;
    line-height: 70px;
    letter-spacing: 4.2px;

    margin-bottom: 29px;
    margin-left: 78px;
    padding-top: 116px;
  }

  .intro__text-wrapper p {
    max-width: 356px;

    font-size: 18px;
    line-height: 28px;

    margin-bottom: 55px;
    margin-left: 129px;

    &::before {
      width: 33px;

      top: 16px;
      left: -48px;
    }
  }

  .intro__link {
    width: 379px;

    font-size: 16px;
    line-height: 19px;

    margin-left: 129px;
  }

  .intro__scroll {
    display: none;
  }
}

@media (max-width: $mobile-max) {
  .intro {
    background-size: 294px 437px;
    background-position: right -62px;
  }

  .no-js .intro,
  .no-webp .intro {
    background-image: url("../img/intro-mobile.png");

    @media (min-resolution: $retina) {
      background-image: url("../img/intro-mobile@2x.png");
    }
  }

  .webp .intro {
    background-image: url("../img/intro-mobile.webp");

    @media (min-resolution: $retina) {
      background-image: url("../img/intro-mobile@2x.webp");
    }
  }

  .intro__wrapper {
    display: flex;
    min-height: 585px;
  }

  .intro__text-wrapper {
    margin-left: auto;
    margin-right: auto;
  }


  .intro__text-wrapper h2 {
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 2.8px;

    margin-bottom: 27px;
    margin-left: 5px;
    padding-top: 223px;
  }

  .intro__text-wrapper p {
    font-size: 16px;
    line-height: 25px;

    margin-bottom: 41px;
    margin-left: 56px;
  }

  .intro__link {
    width: 287px;

    margin-left: auto;
    margin-right: auto;
  }
}
