.page-footer {
  margin-top: auto;

  background-color: $white-footer;
  overflow-x: hidden;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;

  min-height: 316px;

  outline: 1px solid tomato;
}

.page-footer__first-line {
  display: flex;
  padding-bottom: 59px;
}

.page-footer__about {
  display: flex;
  flex-direction: column;
}

.page-footer__logo {
  margin-top: 65px;
  margin-bottom: 54px;
  margin-left: 13px;
}

.page-footer__activity {
  &--about {
    display: none;
  }

  &--copyright {
    margin-left: 5.2%;
  }
}

.page-footer__social-list {
  @include list-reset;

  display: flex;
  margin-left: 13px;
}

.page-footer__social-list li {
  display: flex;

  &:not(:last-of-type) {
    margin-right: 15px;
  }
}

.page-footer__social-icon {
  width: 27px;
  height: 27px;

  fill: $grey;

  &:hover,
  &:focus {
    fill: $blue;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__navi-wrapper {
  display: flex;
  flex-grow: 1;

  max-width: 989px;

  margin-left: auto;
  padding-top: 50px;
  padding-left: 70px;
}

.page-footer__sections {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  max-width: 600px;
}

.page-footer__navi-heading {
  @include roboto-condensed(15px, 16px);

  color: $dark;
  text-transform: uppercase;
  letter-spacing: 0.8px;

  margin-bottom: 25px;
}

.page-footer__navi-list {
  @include list-reset;

  columns: 2;
}

.page-footer__navi-link {
  &:hover,
  &:focus {
    color: $blue;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__text {
  @include ptmono(15px, 25px);

  color: rgba($color: $dark, $alpha: 0.5);
}

.page-footer__contacts {
  margin-left: auto;
  padding-left: 20px;
}

.page-footer__phones-list {
  @include list-reset;
}

.page-footer__address {
  margin-bottom: 0;
}

.page-footer__copyright {
  display: flex;
  align-items: center;

  min-height: 52px;

  @include ptmono(13px, 24px);

  color: rgba($color: $dark, $alpha: 0.5);
  text-transform: uppercase;
  letter-spacing: 0.5px;

  position: relative;

  &::before {
    content: "";
    display: block;

    width: 10000px;
    height: 1px;

    background-color: rgba(#626962, 0.2);

    position: absolute;
    top: -1px;
    left: -50%;
  }
}

.page-footer__copyright-text {
  margin-left: 13px;
}

.page-footer__nda {
  color: rgba($color: $dark, $alpha: 0.5);

  margin-left: 10%;

  &:hover,
  &:focus {
    color: $blue;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__studio {
  margin-left: auto;
}

.page-footer__list-button {
  display: none;
}

@media (max-width: $tablet-max) {
  .page-footer__first-line {
    flex-direction: column;
    padding-bottom: 37px;
  }

  .page-footer__about {
    flex-direction: row;
    flex-wrap: wrap;

    padding-top: 18px;

    position: relative;

    &::after {
      content: "";
      display: block;

      width: 10000px;
      height: 1px;

      background-color: rgba(#626962, 0.2);

      position: absolute;
      bottom: -25px;
      left: -50%;
    }
  }

  .page-footer__activity {
    &--about {
      display: block;

      @include ptmono(13px, 24px);

      color: rgba($color: $dark, $alpha: 0.5);
      text-transform: uppercase;
      letter-spacing: 0.5px;

      margin-left: 11.6%;
      margin-top: 16px;
    }

    &--copyright {
      display: none;
    }
  }

  .page-footer__logo {
    margin: 0;
    margin-left: 15px;
  }

  .page-footer__social-list {
    margin-top: 12px;
    margin-right: 15px;
    margin-left: auto;
  }

  .page-footer__navi-wrapper {
    margin: 0;
    margin-top: 48px;
    padding: 0;
  }

  .page-footer__navi-list {
    columns: auto;
  }

  .page-footer__sections {
    margin-left: 16px;
  }

  .page-footer__contacts {
    margin-right: 26px;
  }

  .page-footer__copyright {
    min-height: 69px;
  }

  .page-footer__copyright-text {
    display: none;
  }

  .page-footer__nda {
    margin-left: 17px;
  }

  .page-footer__studio {
    margin-right: 16px;
  }
}

@media (max-width: $mobile-max) {
  .page-footer__first-line {
    padding-bottom: 0;
  }

  .page-footer__about {
    margin-right: auto;
    margin-left: auto;
    padding-top: 46px;

    flex-direction: column;
    align-items: center;

    &::after {
      bottom: -50px;
      left: -120%;
    }
  }

  .page-footer__logo {
    margin-left: 0;
  }

  .page-footer__activity {
    &--about {
      margin-top: 25px;
      margin-left: 0;
    }
  }

  .page-footer__social-list {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .page-footer__navi-wrapper {
    flex-direction: column;

    margin-top: 50px;
  }

  .page-footer__sections {
    max-width: none;
    min-height: 73px;

    margin-left: 5px;

    position: relative;

    &::after {
      content: "";
      display: block;

      width: 10000px;
      height: 1px;

      background-color: rgba(#626962, 0.2);

      position: absolute;
      bottom: 0;
      left: -50%;
    }
  }

  .page-footer__navi-heading {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 27px;
  }

  .page-footer__list-button {
    display: block;

    width: 20px;
    height: 20px;

    position: absolute;
    top: 28px;
    right: 5px;

    border: none;

    background: none;
    background-repeat: no-repeat;
    background-position: center;

    &--closed {
      background-image: url("../img/plus.svg");
    }

    &--opened {
      background-image: url("../img/minus.svg");
    }
  }

  .page-footer__navi-list {
    padding-bottom: 30px;
  }

  .page-footer__contacts {
    margin-right: 0;
    margin-left: 5px;
    padding-left: 0;

    position: relative;
  }

  .page-footer__address {
    margin-top: 0;
    margin-right: 10px;
  }

  .page-footer__phones-list {
    padding-bottom: 30px;
  }

  .page-footer__copyright {
    flex-direction: column;
    align-items: center;

    padding-bottom: 13px;
  }

  .page-footer__nda {
    margin-top: 28px;
    margin-left: 0;
  }

  .page-footer__studio {
    margin-top: 21px;
    margin-right: 0;
    margin-left: 0;
  }
}
