// Цвета

$white: #ffffff;
$blue: #00b2ff;
$text-main: #666666;
$dark: #1b2d37;

// $gradient-yellow: linear-gradient(108.42deg, #FFC341 20.46%, #FFD701 65.31%);
// $gradient-yellow-accent: linear-gradient(143.55deg, #FFC341 -50.3%, #FFD701 63.1%);
// $gradient-yellow-active: radial-gradient(150% 119.49% at 50% 50.85%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%), linear-gradient(143.55deg, #FFC341 -50.3%, #FFD701 63.1%);

// Ширина макета

$mobile-max: 767px;
$tablet-max: 1023px;
$desktop-max: 1440px;
$retina: 1.5dppx;
