// Цвета

$white: #ffffff;
$white-footer: #fafafa;
$blue: #00b2ff;
$text-main: #666666;
$grey-border: #ebebeb;
$dark: #1b2d37;
$grey: #cdcdcd;

// Ширина макета

$mobile-max: 767px;
$tablet-max: 1023px;
$desktop-max: 1440px;
$retina: 1.5dppx;
